@tailwind base;
@tailwind components;
@tailwind utilities;
 
  @font-face {
    font-family: 'Poppins';
    src: url('../../../assets/font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../../assets/font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../../../assets/font/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
.background1{
   background-image: url('../../../assets/images/main-bg.jpg');
background-size: contain;
background-repeat: round;
}
 
  body {
    font-family: 'Poppins', sans-serif;
    user-select: none;
  }
